/*
 * Custom Roll templates
 */

 .sheet-rolltemplate-powerdesc {

 }
.sheet-rolltemplate-powerdesc .sheet-container {
    background-color: #ede695;
    border: 1px solid black;
    padding: 2px;
}
.sheet-rolltemplate-powerdesc .sheet-header {
    font-weight: bold;
}
.sheet-rolltemplate-powerdesc .sheet-row {
    font-style: italic;
}


/*
 * Custom roll buttons
 */
 button[type="roll"].sheet-tochat:before{
    font-family: 'Pictos';
    content: 'w';
  }
  
  button[type="roll"].sheet-tochat:hover{
    background-position: 0;
    margin-top: 1px;
    margin-left: 1px;
  }
  
  button[type="roll"].sheet-tochat{
    font-family: 'Pictos';
    border: none;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    padding: 0px;
    margin: 0px;

  }