div.sheet-tab-content {
  display: none;
}
input.sheet-char-tab:checked ~ div.sheet-char-tab,
input.sheet-veh-tab:checked ~ div.sheet-veh-tab,
input.sheet-notes-tab:checked ~ div.sheet-notes-tab {
  display: block;
}
.charsheet input.sheet-tab {
  width: 80px;
  position: relative;
  opacity: 0;
  z-index: 9999;
}
.charsheet span.sheet-tab {
  /* width and margin-left must be equal the width in sheet-tab above */
  width: 80px; 
  margin-left: -80px;
  text-align: center;  
  display: inline-block;  
  border-radius: 4px;
  border: 1px solid;
  background-color: #ede695;
}
input.sheet-tab[type="radio"]:checked + span.sheet-tab {
  font-weight: bold;
}
/* for 2 buttons
.sheet-tab-spacer {
  width: 630px;
  display: inline-block;
}
*/
.sheet-tab-spacer {
  width: 550px;
  display: inline-block;
}
.sheet-char-tab {
  margin-top: 4px;
}

.sheet-section-details {
  font-weight: bold;
  margin-bottom: 5px;
}
/* 
*sheet layout 
*/
.sheet-overall-wrapper {
  max-width: 850px;
}


.sheet-main-grid-container {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "cultural physical social"
    "powers powers powers"
    "stats attacks attacks";
}

.sheet-main-grid-container .sheet-cultural {
  grid-area: cultural;
}
.sheet-main-grid-container .sheet-physical {
  grid-area: physical;
}
.sheet-main-grid-container .sheet-social {
  grid-area: social;
}
.sheet-main-grid-container .sheet-powers {
  grid-area: powers;
}
.sheet-main-grid-container .sheet-stats {
  grid-area: stats;
}
.sheet-main-grid-container .sheet-attacks {
  grid-area: attacks;
}

.sheet-personal-info-grid-container {
  display: grid;
  grid-gap: 4px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "info-label info-field"
}

.sheet-personal-info-grid-container .sheet-info-label {
  grid-area: info-label;
}
.sheet-personal-info-grid-container .sheet-info-field {
  grid-area: info-field;
}


.sheet-powers-grid-container {
  display: grid;
  grid-gap: 3px;
  grid-template-columns: 75px 505px 75px 75px;
  grid-template-columns: auto;
  grid-template-areas: 
    "cps power-desc ips actions"
    "... stat-mods stat-mods ...";
}
.sheet-powers-grid-container .sheet-cps {
  grid-area: cps;
}
.sheet-powers-grid-container .sheet-power-desc {
  grid-area: power-desc;
}
.sheet-powers-grid-container .sheet-ips {
  grid-area: ips;
}
.sheet-powers-grid-container .sheet-actions {
  grid-area: actions;
}
.sheet-powers-grid-container .sheet-stat-mods {
  grid-area: stat-mods;
}
.sheet-stat-mods {
  border: 1px dashed black;
  margin-bottom: 3px;
}
.sheet-statmod-container {
  display: none;
}
.sheet-bc-grid-container {
  display: grid;
  grid-gap: 4px;
  grid-template-columns: 40px 30px 45px 41px 20px;
  grid-template-rows: auto;
  grid-template-areas: 
    "cost-col bc-col score-col save-col roll-col"
}
.sheet-bc-grid-container .sheet-cost-col {
  grid-area: cost-col;
}
.sheet-bc-grid-container .sheet-bc-col {
  grid-area: bc-col;
}
.sheet-bc-grid-container .sheet-score-col {
  grid-area: score-col;
}
.sheet-bc-grid-container .sheet-save-col {
  grid-area: save-col;
}
.sheet-bc-label {
  font-weight: bold;
  width: 30px;
  text-align: right;
  padding-top: 3px;
}
.sheet-bc-number-field {
  width: 40px;
  display: inline-block;
}
.sheet-bc-pad {
  padding-bottom: 4px;
}

.sheet-attack-container {
  font-weight: bold;
  display: grid;
  grid-gap: 4px;
  grid-template-columns: 100px 50px 75px 135px 100px 80px;
  grid-template-rows: auto;
  grid-template-areas: 
    "attack-col tohit-attrib-col tohit-col dmg-col dmgtype-col kb-col"
}
.sheet-attack-container .sheet-attack-col {
  grid-area: attack-col;
}
.sheet-attack-container .sheet-tohit-attrib-col {
  grid-area: tohit-attrib-col;
}
.sheet-attack-container .sheet-tohit-col {
  grid-area: tohit-col;
}
.sheet-attack-container .sheet-dmg-col {
  grid-area: dmg-col;
}
.sheet-attack-container .sheet-dmgtype-col {
  grid-area: dmgtype-col;
}
.sheet-attack-container .sheet-kb-col {
  grid-area: kb-col;
}

.sheet-protection-container {
  font-weight: bold;
  display: grid;
  grid-gap: 4px;
  grid-template-columns: 100px 50px 50px 50px 50px 50px 50px 100px;
  grid-template-rows: auto;
  grid-template-areas: 
    "protect-col kinetic-col energy-col bio-col entropy-col psychic-col other-col other-desc-col"
}
.sheet-protection-container .sheet-protect-col {
  grid-area: protect-col;
}
.sheet-protection-container .sheet-kinetic-col {
  grid-area: kinetic-col;
}
.sheet-protection-container .sheet-energy-col {
  grid-area: energy-col;
}
.sheet-protection-container .sheet-bio-col {
  grid-area: bio-col;
}
.sheet-protection-container .sheet-entropy-col {
  grid-area: entropy-col;
}
.sheet-protection-container .sheet-psychic-col {
  grid-area: psychic-col;
}
.sheet-protection-container .sheet-other-col {
  grid-area: other-col;
}
.sheet-protection-container .sheet-other-desc-col {
  grid-area: other-desc-col;
}

.sheet-experience-container {
  font-weight: bold;
  display: grid;
  grid-gap: 4px;
  grid-template-columns: 50px 70px 160px;
  grid-template-rows: auto;
  grid-template-areas: 
    "exp-top-label exp-top-label exp-tot-label"
    "main-exp-col exp-label-col exp-total-col"
}
.sheet-experience-container .sheet-main-exp-col {
  grid-area: main-exp-col;
}
.sheet-experience-container .sheet-exp-label-col {
  grid-area: exp-label-col;
}
.sheet-experience-container .sheet-exp-total-col {
  grid-area: exp-total-col;
}
.sheet-experience-container .sheet-exp-top-label {
  grid-area: exp-top-label;
}
.sheet-experience-container .sheet-exp-tot-label {
  grid-area: exp-tot-label;
}

.sheet-exp-label {
  font-weight: bold;
  width: 70px;
  text-align: right;
  padding-top: 3px;
}
.sheet-exp-number input[type="number"] {
  width: 50px;
}

/*
 *  modified input/label formats
 */
.sheet-short-select {
  width: 50px;
}
.sheet-tiny-select {
  width: 40px;
}
.sheet-short-label {
  width: 75px;
}
.sheet-short-field {
  width: 70px;
}
.sheet-number-text {
  width: 50px;
}
.sheet-med-field {
  width: 100px;
}
.sheet-section-header-label{
  margin-top: 5x;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}
.sheet-personal-info-label {
  font-weight: bold;
  width: 100px;
  text-transform: uppercase;
  text-align: right;
  padding-top: 3px;
}
input.sheet-power-desc{
  width: 645px;
}
.sheet-power-desc {
  width: 675px;
}
.sheet-cps {
  font-weight: bold;
  
}
.sheet-ips {
  font-weight: bold;
  
}
.sheet-actions {
  width: 30px;
}
.sheet-inventing {
  font-style: italic;
  font-weight: bold;
}
.sheet-statmod-label-cell {
  font-weight: bold;
  width: 70px;
}
.sheet-dropdown-toggle:before {
  font-family: 'Pictos';
  content: 'l';
}
.sheet-dropdown-toggle:hover {
  background-position: 0;
  margin-top: 1px !important; 
  margin-left: 1px !important;  /* was being overridden for some reason so added important */
}
button[type="action"].sheet-dropdown-toggle{
  font-family: 'Pictos';
  border: none;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  padding: 0px;
  padding-right: 3px;
  margin: 0px;
}

input.sheet-stats-toggle:not(:checked) ~ div.sheet-stat-mods {
    display: none;
}
div.sheet-statmod-container {
  display: none;
}

.charsheet input.sheet-stats-toggle {
  width: 20px;
  position: relative;
  opacity: 0;
  z-index: 9999;
}
.charsheet span.sheet-stats-toggle {
  /* width and margin-left must be equal the width in sheet-tab above */
  width: 20px; 
  margin-left: -20px;
  text-align: center;  
  display: inline-block;  
}
input.sheet-stats-toggle:checked ~ div.sheet-statmod-container {
  display: block;
}

/*
 * Custom Roll templates
 */

 .sheet-rolltemplate-powerdesc {

 }
.sheet-rolltemplate-powerdesc .sheet-container {
    background-color: #ede695;
    border: 1px solid black;
    padding: 2px;
}
.sheet-rolltemplate-powerdesc .sheet-header {
    font-weight: bold;
}
.sheet-rolltemplate-powerdesc .sheet-row {
    font-style: italic;
}


/*
 * Custom roll buttons
 */
 button[type="roll"].sheet-tochat:before{
    font-family: 'Pictos';
    content: 'w';
  }
  
  button[type="roll"].sheet-tochat:hover{
    background-position: 0;
    margin-top: 1px;
    margin-left: 1px;
  }
  
  button[type="roll"].sheet-tochat{
    font-family: 'Pictos';
    border: none;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    padding: 0px;
    margin: 0px;
  }

 .sheet-pictos-button {
   font-family: 'Pictos';
 }
   
